body {
    margin-left: 1em;
}

.content {
    both: clear;
}

#title {
    text-decoration: none;
    color: black;
    margin-left: 1em;
    float: left;
}

.user {
    text-decoration: none;
    color: #1a1a1a;
    float: right;
    text-align: right;
    margin-right: 2em;
}

hr {
    clear: both;
    margin-left: 1em;
}

ul {
    list-style-type: none;
    both: clear;
}

#flash {
    color: green;
    background-color: blue;
    clear: both;
}
