<!DOCTYPE html>
<head>
    <title>BULLPEN</title>
</head>
<body>
    <h1><a href='/'>BULLPEN</a></h1>
    {% if session['logged_in']  %}
    <p>logged in as {{ session['user'] }}</p>
    <p><a href='/logout'>logout</a></p>
    <p><a href='/newpost'>New Post</a></p>
    {% else %}
    <p><a href='/login'>login</a></p>
    <p><a href='/signup'>Sign up</a></p>
    {% endif %}
    {% for message in get_flashed_messages() %}
    <div>{{ message }}</div>
    {% endfor %}
    {% block content %}
    {% endblock %}
</body
