
{% extends "base.html" %}
{% block content %}
<hr>
<div class='login'>
    <form method='post' action='' >
    {{ form.hidden_tag() }}
    <table class='form-login'>
        <tr>
            
            <td>{{ form.username.label }}</td>
            <td>{{ form.username(size=20) }}</td>
            {% for error in form.errors.username %}
            <td><span style='color: red'>{{ error }}</span></td>
        {% endfor %}
        </tr>
        <tr>
            <td>{{ form.password.label }}</td>
            <td>{{ form.password(size=20) }}</td>
            {% for error in form.errors.password %}
            <td><span style='color: red'>{{ error }}</span></td>
            {% endfor %}
        </tr>
        <tr>
            <td></td>
            <td><input type='submit' value='Log In'></td>
        </tr>
</form>
</div>
{% endblock %}
