

{% extends "base.html" %}
{% block content %}
<hr>
<form method='post' action=''>
    {{ form.hidden_tag() }}
    <table>
        <tr>
            <td>
                {{ form.username.label }}
            </td>
            <td>
                {{ form.username(size=20) }}
            </td>
                {% for error in form.errors.username %}
            </td>
            <td>
                <span style='color: red'>{{ error }}</span>
            </td>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                
                {{ form.password.label }}</td><td> {{ form.password(size=20) }}
</td>
    {% for error in form.errors.password %}
    <td>
    <span style='color: red'>{{ error }}</span>
    {% endfor %}
            </td>
        </tr>
        <tr>
            <td>
                {{ form.verify.label }}</td>
            <td>
                {{ form.verify(size=20) }}
            </td>
    {% for error in form.errors.verify %}
    <td>
    <span style='color: red'>{{ error }}</span>
</td>
    {% endfor %}
</tr>
<tr>
    <td>
        {{ form.email.label }}</td> 
    <td> {{ form.email(size=20) }}</td>
    {% for error in form.errors.email %}
    <td><span style='color: red'>{{ error }}</span></td>
    {% endfor %}
</tr>
<tr>
    <td>
    </td>
    <td>

    <input type='submit' value='Sign Up'>
</td>
</form>
{% endblock %}
