{% extends "base.html" %}
{% block content %}
<hr>
<div class='post-title'>
    {{ entry.title }} by <b>{{ entry.author.username }}</b></li>
</div>
<div class='post-content'>
    {{ entry.content }}
</div>
<div class='comments'>
    <table>
       {% for com in comments %}
       <tr>
           <td>{{ com.comment }}</td>
           <td>{{ com.author.username }}</td>
           <td>{{ com.date_created }}</td>
       </tr>
       {% endfor %} 
   </table>
</div>
{% if g.user.is_authenticated() %}
{% block comments %}
<div>
<form method='POST'>
    <label>Comment:<br>
        <textarea name='comment' rows='10' cols='60'></textarea>
    </label>
    <br>
    {{ error }}
    <br>
    <input type='submit'>
</form>
</div>
{% endblock %}
{% endif %}
{% endblock %}
