{% extends "base.html" %}
{% block content %}
<ul>
    <hr>
    <li>{{ entry.title }} by <b>{{ entry.author.username }}</b></li>
    <ul>
        <li>{{ entry.content }}</li>
        <ul>
           {% for com in comments %}
           <li>{{ com.comment }} by {{ com.author.username }}</li>
           {% endfor %} 
       </ul>
   </ul>
</ul>
{% if session['user'] %}
{% block comments %}
<div>
<form method='POST'>
    <label>Comment:<br>
        <textarea name='comment' rows='10' cols='60'></textarea>
    </label>
    <br>
    {{ error }}
    <br>
    <input type='submit'>
</form>
</div>
{% endblock %}
{% endif %}
{% endblock %}
